html, body {margin:0;padding:0;height:100%;}

* {
  border-radius: 0 !important;
}

html, body, .container-fluid{
   height:100%;
}

a {
  text-decoration: none;
}


#gallery{
    text-align: center
}

#big-pic{
    width: 60%;
    height: auto;
}

.small-pic{
    width: 120px;
    height: auto;
    border: 2px solid #d4d4d4;
}

#thumb{
    text-align: left;
    margin-left: 30px;
}

/*Default picture */
#pic4{
    border: 4px solid black;
}

#size-col{
    text-align: center;
}

#basket-add{
    background-color: #FFF;
    color: #3F3363;
    font-size: 20px;
    font-weight: 800;

}

#basket-add:hover{
    background-color: #d9d9d9;
}

#buy-button{
    background-color: #FFF;
    color: #3F3363;
    font-size: 20px;
    font-weight: 800;
    margin-top: 1em;

}

#buy-button:hover{
    background-color: #d9d9d9;
}

#clear-basket{
    background-color: #FFF;
    color: #3F3363;
    font-size: 20px;
    font-weight: 800;
    margin-top: 1em;

}

#clear-basket:hover{
    background-color: #d9d9d9;
}



#price{
    text-align: right;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#right-side{
    background-color: #3F3363;
    color: #FFFFFF;
    height ;



}

#header{
    background-color: #F8F8F8;
    color: #3F3363;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}



#size-helper{
    font-size: 10px;
    margin-top: 5px;
}

#size-title{
    font-size: 20px;
    font-weight: 500;
}

#product-info{
    margin-top: 10px;
    margin-bottom: 230px;
}

#size-col{
    text-align: center;
    margin-top: 30px;

}

#basket-info{
  margin-top: 1em;
  margin-bottom: 1em;
}

#basket-info-preview{
  margin-top: 1em;
  margin-bottom: 1em;
}

#basket-info-preview:hover{
  cursor: pointer;
  font-weight: bold;
}

.size-eu{
    font-size: 18px;
    font-weight: 700;
}

.size-cm{
    font-size: 13px;
}

#cancel-last-order{
  color: #57468A;
  background-color: #FFFFFF;
}

#cancel-last-order:hover{
  background-color: #d9d9d9;
  cursor: pointer;
}

#basket-preview{
  width: 600px;
  height: auto;
  /*display: none;*/
    position: absolute;
    z-index: 99999;
    right: 100px;
    top: -100px;
    width: 600px;
    padding: 10px;
    background: #EEEFEB;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    transform:scale(0.9);
}

#product-preview-img{
  padding-right: 20px;
}
.media-object{
  width: 72px;
  height: auto;
  float: left;
}

.media-heading{

  color: #3F3363;
}

.media-heading:hover{
  text-decoration: none;
}
/* buttons props*/

.btn-size {
  color: #FFFFFF;
  background-color: #57468A;
  border-color: #57468A;
}

.btn-size:hover,
.btn-size:focus,
.btn-size:active,
.btn-size.active,
.open .dropdown-toggle.btn-size {
  color: #FFFFFF;
  background-color: #57468A;
  border-color: #57468A;
}

.btn-size:active,
.btn-size.active,
.open .dropdown-toggle.btn-size {
  background-image: none;
}

.btn-size.disabled,
.btn-size[disabled],
fieldset[disabled] .btn-size,
.btn-size.disabled:hover,
.btn-size[disabled]:hover,
fieldset[disabled] .btn-size:hover,
.btn-size.disabled:focus,
.btn-size[disabled]:focus,
fieldset[disabled] .btn-size:focus,
.btn-size.disabled:active,
.btn-size[disabled]:active,
fieldset[disabled] .btn-size:active,
.btn-size.disabled.active,
.btn-size[disabled].active,
fieldset[disabled] .btn-size.active {
  background-color: #57468A;
  border-color: #57468A;
}

.btn-size .badge {
  color: #57468A;
  background-color: #FFFFFF;
}



.btn-size-active {
  color: #3F3363;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-size-active:hover,
.btn-size-active:focus,
.btn-size-active:active,
.btn-size-active.active,
.open .dropdown-toggle.btn-size-active {
  color: #3F3363;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-size-active:active,
.btn-size-active.active,
.open .dropdown-toggle.btn-size-active {
  background-image: none;
}

.btn-size-active.disabled,
.btn-size-active[disabled],
fieldset[disabled] .btn-size-active,
.btn-size-active.disabled:hover,
.btn-size-active[disabled]:hover,
fieldset[disabled] .btn-size-active:hover,
.btn-size-active.disabled:focus,
.btn-size-active[disabled]:focus,
fieldset[disabled] .btn-size-active:focus,
.btn-size-active.disabled:active,
.btn-size-active[disabled]:active,
fieldset[disabled] .btn-size-active:active,
.btn-size-active.disabled.active,
.btn-size-active[disabled].active,
fieldset[disabled] .btn-size-active.active {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-size-active .badge {
  color: #FFFFFF;
  background-color: #3F3363;
}
