* {
  border-radius: 0 !important;
}

html, body, .container-fluid{
   height:100%;
}

#gallery{
    text-align: center
}

#big-pic{
    width: 60%;
    height: auto;
}

.small-pic{
    width: 120px;
    height: auto;
    border: 2px solid #d4d4d4;
}

#thumb{
    text-align: left;
    margin-left: 30px;
}

#pic4{
    border: 4px solid black;
}

#size-col{
    text-align: center;
}

#basket-add{
    background-color: #FFF; 
    color: #3F3363;
    font-size: 20px;
    font-weight: 800;

}

#price{
    text-align: right;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#right-side{
    background-color: #3F3363;
    color: #FFFFFF;
    height: 85vh;
    
    
    
}

#header{
    background-color: #F8F8F8;
    color: #3F3363;
    font-size: 30px;
    font-weight: 900;
}



#size-helper{
    font-size: 10px;
    margin-top: 5px;
}

#size-title{
    font-size: 20px;
    font-weight: 500;
}

#product-info{
    margin-top: 10px;
}

.btn-group{
    margin-top: 25px;
}

.active-size{
    background-color: #FFF; 
    color: #3F3363;
}